
nav{
    position: absolute;
    top:0px;
    left:0px;
    background-color:hsl(227, 14%, 20%,0.8);
    font-size: x-large;
    width: 100%;
    height: 58px;
}

body {
    margin: 0;
    padding-top: 40px;
    color: #2e323c;
    background:hsl(227, 14%, 20%,0.8);
    position: relative;
    height: 100%;
}


td:first-child {
    padding-left:20px;
    padding-right:0;
}

h6{
    align:center;
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
    color: #9fa8b9;
}

label{
    font-size: larger;
}
.table.sticky th{
    position: sticky;
}

.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}
.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}
.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}
.account-settings .about p {
    font-size: 0.825rem;
}
.form-control {
    border: 1px solid hsl(227, 14%, 20%,0.8);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 1rem;
    background: hsl(227, 14%, 20%,0.8);
    color: #ffffff;
}

.card {
    background: hsl(227, 14%, 20%,0.8);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}
----------------------------------------------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
}

:root {
    --main-color: #F93648;
    --dark-color: #1b182b;
    --light-color: #322f40;
    --text-color: hsl(0,0%,91%);
}

section{
    padding: 4rem 0 3rem;
}

img{
    width: 100%;
}

body{
    color: var(--text-color);
    background-color: var(--dark-color);
}

.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background-color: var(--dark-color);
    z-index: 100;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
}

.logo{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-color);
    text-transform: uppercase;
    margin: 0 auto 0 0;
}


.nav-icons{
    display: flex;
    column-gap: 1rem;
    align-items: center;
}

.nav-icons .bx{
    font-size: 20px;
    height: 44px;
    width: 44px;
    display: grid;
    place-items: center;
    color: var(--text-color);
    background:  var(--light-color);
    border-radius: 50%;
    cursor: pointer;

}

.menu-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background:  var(--light-color);
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
}

.menu-icon div{
    display: block;
    background: var(--text-color);
    height: 2px;
    width: 25px;
    transition: 0.3s;
}

.move .line1{
    transform: rotate(-45deg) translate(-5px,5px);
}

.move .line2{
    opacity: 0;
}

.move .line3{
    transform: rotate(45deg) translate(-5px,-5px);
}

.menu{
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 14, 0.9);
    z-index: 106;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
    clip-path: circle(0% at 100% 0%);

}

.menu.active{
    clip-path: circle(144% at 100% 0%);


}

.menu img{
    width: 400px;
}

.navbar{
    display: grid;
    row-gap: 1rem;
    text-align: right;
    padding-right: 2rem;
}

.navbar a{
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 500;
    transition: 0.2s;

}

.navbar a:hover{
    border-bottom: 4px solid var(--main-color);
    font-size: 1.8rem;
}

.filter{
    position: absolute;
    top: 110%;
    right: 5rem;
    background: var(--light-color);
    width: 300px;
    height: 200px;
    border-radius: 0.5rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    clip-path: circle(0% at 100% 0%);
}
.filter.active{
    clip-path: circle(144% at 100% 0%);
    transition: 0.3s;
}

.filter ul{
    display:flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(auto-fit,minmax(20px,auto));
    gap: 2px; */
}
.filter ul li{
    color: var(--dark-color);
    list-style: none;
    background: #eee;
    margin: 2px;
    padding: 2px;
    letter-spacing: 1px;
    cursor: pointer;
}

.filter ul li.active{
    background: var(--main-color);
    color: var(--text-color);
}


.heading{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.heading .bx{
    font-size: 21px;
    color: var(--text-color);
    background: #39C6F7;
    padding: 10px;
    border-radius: 5rem;
}

.heading h2{
    font-size: 1.2rem;
    font-weight: 500;
}

.box{
    flex: 0.5 0.5 20rem;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.box img{
    height: 12rem;
    width:100%;
    object-fit: cover;
}

.box .box-text{
    position: relative;

    padding: 10px;
    background: hsl(227, 14%, 20%,0.8);
    backdrop-filter: blur(4px);

}

.box .box-text h2{
    font-size: 1rem;
    font-weight: 500;
}

.box .box-text h3{
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 0.8rem;
}




.itemBox{
    flex: 0.5 0.5 20rem;
    width:200px;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.itemBox img{
    height: 12rem;
    width:100%;
    object-fit: cover;
}

.itemBox .box-text{
    position: relative;

    padding: 10px;
    background: hsl(227, 14%, 20%,0.8);
    backdrop-filter: blur(4px);

}

.itemBox .box-text h2{
    font-size: 1rem;
    font-weight: 500;
}

.itemBox .box-text h3{
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 0.8rem;
}

.itemBox.hide{
    display: none;
}

.rate-down-price{
    display: flex;
    justify-content: space-between;
}

.rating{
    display: flex;
    align-items: center;
    column-gap: 4px;
    background: hsl(0, 0%, 100%,0.4);
    padding: 4px 10px;
    border-radius: 0.5rem;
}

.price{
    display: flex;
    align-items: center;
    column-gap: 4px;
    background: hsl(0, 0%, 100%,0.4);
    padding: 4px 10px;
    border-radius: 0.5rem;
}


.rating .bx{
    color: #faf102;
    font-size: 0.9rem;

}

.rating span{
    color: #faf102;
    font-size: 0.9rem;

}

.price .bx{
    color: #faf102;
    font-size: 0.9rem;

}

.price span{
    color: #faf102;
    font-size: 0.9rem;

}


.box-btn .bx{
    padding: 8px;
    background: var(--text-color);
    border-radius: 5rem;
    color: #F93648;
    font-weight: 400;
    font-size: 20px;
}

.box-btn .bx:hover{
    background: var(--dark-color);
}

.trendy-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,auto));
    gap: 1.2rem;
}

#load-more{
    width: 150px;
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid #334;
    color: var(--dark-color);
    font-size: 16px;
    background: var(--main-color);
    cursor: pointer;

}


#load-more:hover{
    background: var(--light-color);
    color: var(--main-color);
    transition: 0.3s all linear;
}




.credit{
    text-align: center;
    padding:1.5rem .5rem;
    margin-top: 1rem;
    font-size: 1rem;

    color:#fff;
    border-top: .1rem solid rgba(255,255,255,.2);
}

.credit strong{
    font-size: 1.5rem;
    color:var(--main-color);
}









